.header {
  background: none;
  height: fit-content;
}

.contactSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 750px;
}

.contact {
  background-color: transparent;
  width: 100%;
}
@media (min-width: 769px) {
  .contact__form {
    width: 60%;
    max-width: none;
    margin: none;
  }
}

body {
  background: rgb(77, 74, 108);
  background: linear-gradient(
    180deg,
    rgba(77, 74, 108, 1) 0%,
    rgba(81, 81, 133, 1) 41%,
    rgba(0, 0, 0, 1) 100%
  );
}
