* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: url("../assets/imagen4.png") no-repeat top fixed;
  background-size: 1980px 100%;
}

/* --- HEADER --- */

.header {

  height: 728px;
}

.header__welcome {
  margin: 248px auto;
}

.welcome__title {
  text-align: center;
  color: #fafafa;
  text-shadow: 0.1em 0.1em 0.1em #dbdbdb50;
  font-family: "Montserrat";
  font-size: 48px;
}

/* --- ABOUT ME --- */

.about-me {
  background-color: #141414;
  color: #fafafa;
  height: 538px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px){
  .about-me{
  background-color: #FAFAFA;
  color:  #141414;
  flex-direction: row;
  justify-content: space-around;
  }
  .about-me__text{
  width: 40%;

  }
}

.about-me__img {
  display: none;
}
@media(min-width: 768px){
  .about-me__img{
    display: inherit;
  }
}

.about-me__title {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.about-me__content {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
