.header {
  background: none; 
  height: auto;
}


.services {
  background: none; 
  background-color: transparent;
  color: #FAFAFA;
  text-shadow: .5px .5px #000;
}

.services__title{
  display: none;}

.header__title{
  color: #FAFAFA;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Montserrat";
  font-size: 42px;
  padding-left: 60px;
  text-shadow: 1px 1px #000;
}



body {
  background: url("../../assets/portfolio.png") no-repeat top fixed;
  background-size: 1980px auto;
}

